# Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

### print the first 3 rows
### print the number of rows and columns (shape)
### print the column names
### print the data type of each column
### print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [1]:
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
df_iris = data('iris')

In [6]:
# print the first 3 rows
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [7]:
# print the number of rows and columns (shape)
df_iris.shape

(150, 5)

In [8]:
#print the column names
list(df_iris.columns.values)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [9]:
# print the data type of each column
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [12]:
# print the summary statistics for each of the numeric variables.
#Would you recommend rescaling the data based on these statistics?

df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

I don't think scaling is needed

## Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [14]:
df_excel = pd.read_excel('Spreadsheets_Exercises.xlsx')

In [15]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
customer_id          7049 non-null object
gender               7049 non-null object
is_senior_citizen    7049 non-null int64
partner              7049 non-null object
dependents           7049 non-null object
phone_service        7049 non-null int64
internet_service     7049 non-null int64
contract_type        7049 non-null int64
payment_type         7049 non-null object
monthly_charges      7049 non-null float64
total_charges        7038 non-null float64
churn                7049 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

In [19]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.iloc[:101,:]

In [21]:
# print the number of rows of your original dataframe
df_excel.shape[0]

7049

In [24]:
df_excel.columns[0]

'customer_id'

In [35]:
# print the first 5 column names
for i in range (0,5): 
    print(df_excel.columns[i])

customer_id
gender
is_senior_citizen
partner
dependents

In [51]:
# print the column names that have a data type of object
mask = df_excel.dtypes == object
df_excel.loc[:,mask].columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [52]:
# # print the column names that have a data type of object
# for i in range (0, len(df_excel.columns)):
#     if df_excel.dtypes[i] == object:
#         print(df_excel.columns[i])

In [53]:
# #compute the range for each of the numeric variables
# for i in range (0, len(df_excel.columns)):
#     if df_excel.dtypes[i] == object:
#         print(df_excel.columns[i])

In [58]:
mask = ((df_excel.dtypes == float) | (df_excel.dtypes == int))
df_excel.loc[:,mask].columns

Index(['is_senior_citizen', 'phone_service', 'internet_service',
       'contract_type', 'monthly_charges', 'total_charges'],
      dtype='object')

In [64]:
for i in range (0, len(df_excel.columns)):
     if mask[i] == True:
            print(df_excel.columns[i], , range(df_excel[i]))

is_senior_citizen
phone_service
internet_service
contract_type
monthly_charges
total_charges